@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
  margin: 0;
  padding: 75px 2.5%;
  background-color: #e4e4e0;
}

@media (min-width: 1600px) {
  body {
    width: 80%; 
    margin: 0 auto;
  }
}

@media (min-width: 2000px) {
  body {
    width: 60%; 
    margin: 0 auto;
  }
}

::selection {
  background-color: #333;
  color: #e4e4e0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b328e;
  margin: 0;
  line-height: 1.25;
}

/*/// Tools ///*/
/* Blink Animation */
.blink_me {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/*/// Navbar ///*/
.navbar {
  padding: .5rem 5%;
}

.navbar-brand {
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
  color: #e4e4e0;
  letter-spacing: 2px;
}

.navbar-brand img {
  width: 60px;
}

.nav-item {
  padding: .5rem 1rem;
}
.nav-item a:link, a:visited {
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  color: #e4e4e0;
}
.nav-item a:hover {
  color: #272de0;
  background-color: #e4e4e0;
  transition: ease-in 100ms;
}

.navbar-toggler {
  background-color: #fff;
}

/*/// Lab ///*/

.project-media {
	margin-bottom: 10px;

}

/*/// Headings ///*/
/* TODO : Just create a new class for this*/
#about .title,
#members .title,
#projects .title,
#papers .title {
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  margin: 85px 15px 25px 0px;
  padding: 10px 2%;
  border: 4px solid #2b328e;
  background-color: #e4e4e0;
  box-shadow: 7px 7px #bbbaa0;
  color: #2b328e;
}
#papers_covid19 .title {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  margin: 85px 15px 15px 0px;
  padding: 10px 2%;
  border: 4px solid #2b328e;
  background-color: #e4e4e0;
  box-shadow: 7px 7px #bbbaa0;
  color: #CD1111;
}
#papers_method .title {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  margin: 85px 15px 15px 0px;
  padding: 10px 2%;
  border: 4px solid #2b328e;
  background-color: #e4e4e0;
  box-shadow: 7px 7px #bbbaa0;
  color: #8FB3CD;
}
#papers_disease .title {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  margin: 85px 15px 15px 0px;
  padding: 10px 2%;
  border: 4px solid #2b328e;
  background-color: #e4e4e0;
  box-shadow: 7px 7px #bbbaa0;
  color: #51A76D;
}

/*/// Cards ///*/
.credentials {
  display: block;
  font-family: "Oxygen Mono", monospace;
  font-size: 14px;
  color: #2b328e;
  padding: 5px 0px 4px 7px;
  text-align: left;
}

.card-title, .card-text {
  font-family: "Oxygen Mono", monospace;
  font-size: 14px;
  color: #2b328e;
  padding: 1px 7px;
  text-align: left;
}

.card-body {
  padding-left: 8px;
  padding-right: 8px;
}

.card-body .btn-light {
  background-color: #fff;
  border: none;
  margin: 0px 2px;
  padding: 2px 6px;
  color: #59523f;
  border-radius: 0;
}

.card-body .fa:hover,
.card-body .btn-light:hover {
  color: #2b328e;
  background-color: #e4e4e0;
}

/*/// Members ///*/


@media (max-width: 750px) and (min-width: 550px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 65%; 
    margin: 0 auto;
  }
}

.members .card-title, .members .card-text {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.membersImage {
  position: relative;
}

.membersImage img {
  position: relative;
}

.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*/// Projects ///*/
#projects .card {
  padding: 12px;
  margin: 3px;
}

#projects .card-title {
  background-color: #2b328e;
  color: #e4e4e0;
  font-size: 16px;
  padding: 12px 15px;
}

/*/// Papers ///*/
#papers .card:hover {
  background-color: #eee;
  text-decoration: none;
  color: #fff;
}

#papers .card {
  display: inline-flex;
  max-width: 350px;
  min-height: 350px;
  justify-content: center;
  margin-top: 2px;
  padding: 25px;
}

#papers .card-title {
  font-size: 20px;
}

/*/// Twitter ///*/
.twitter-feed {
 display: block;
 position: relative;
 border: 4px solid #2b328e;
 padding: 0px;
 width: 300px;
 border-radius: 0;
 margin: 30px auto;
 background-color: #fff;
 box-shadow: 7px 7px #bbbaa0;
}

.papers-list {
  padding-top:100px;
}
