@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

.card-body .btn-light {
  background-color: #e4e4e0;
  color: #59523f;
}

.card-body .fa:hover,
.card-body .btn-light:hover {
  color: #e4e4e0;
  background-color: #2b328e;
}

::selection {
  background-color: #2b328e);
  color: #e4e4e0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b328e !important;
}

html, body {
  margin: 0;
  padding: 75px 2.5%;
  background-color: #e4e4e0 !important;
}

/*/// Tools ///*/
.animate-blink {
  animation: blink 0.2s infinite;
}

/*/// Navbar ///*/
.navbar {
  padding: .5rem 5% !important;
}
.nav-item {
  padding: .5rem 1rem;
}
.nav-item a:link, a:visited {
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  color: #e4e4e0;
}
.nav-item a:hover {
  color: #272de0;
  background-color: #e4e4e0;
  transition: ease-in 100ms;
}

/*/// Lab ///*/
.lab-container {
  background-image: ;
}

/*/// Cards ///*/
#members .title,
#projects .title,
#papers .title {
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  margin: 75px 15px 15px 15px;
  padding: 15px 95px;
  border: 4px solid #2b328e;
  background-color: #e4e4e0;
  box-shadow: 7px 7px #bbbaa0;
  color: #2b328e;
}

.card {
  padding: 15px;
  border-radius: 0;
}

.card-group {
  background-color: ;
}
.card-title {
  font-family: "Oxygen Mono", monospace;
  font-size: 14px;
  color: blue;
